// Colors
$peach: #FF4E50;
$black: #444444;
$white: #FFFFFF;

// Text colors
$text: #666666;
$text-light: #999999;
$text-off-white: #E3E3E3;
$text-hero: #F7F3F2;

// Misc colors
$yellow: #FFA710;
$teal: #19D4CA;
$blue: #667DF3;

// Border-radii
$border-radius-lg: 40px;
$border-radius-xs: 4px;

// Spacing
$spacing-sm: 10px;
$spacing-smd: 15px;
$spacing-md: 20px;
$spacing-lg: 40px;
$spacing-xl: 60px;
$spacing-xxl: 80px;
$spacing-xxxl: 100px;

// Font sizes
$font-xs: 10px;
$font-sm: 14px;
$font-md: 18px;
$font-lg: 22px;
$font-xl: 24px;
$font-xxl: 30px;
$font-xxxl: 52px;


// Logo specific font sizes
$logo-lg: 20px;
$logo-sm: 16px;

// Breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;

// Media queries
